<section class='form-conatiner'>
  <h1 class="title">Create Evidence</h1>
  <form action='/evidence/add' method='POST' class='form'>
    <div class='form-control'>
      <label>Description</label>
      <input type='text' name='Description' placeholder='Create Description' />
    </div>
    <div class='form-control'>
      <label>Title</label>
      <input type='text' name='Title' placeholder='Create Title' />
    </div>
    <div class='form-control'>
      <label>Authors</label>
      <input type='text' name='Authors' placeholder='Create Authors' />
    </div>
    <div class='form-control'>
      <label>Abstract</label>
      <input type='text' name='Abstract' placeholder='Create Abstract' />
    </div>
    <div class='form-control'>
      <label>KeyWords</label>
      <input type='text' name='KeyWords' placeholder='Create KeyWords' />
    </div>
    <div class='form-control'>
      <label>DOINnumber</label>
      <input type='text' name='DOINnumber' placeholder='Create DOINnumber' />
    </div>
    <div class='form-control'>
      <label>Link</label>
      <input type='text' name='Link' placeholder='Create Link' />
    </div>
    <div class='form-control'>
      <label>File</label>
      <input type='text' name='File' placeholder='Create File' />
    </div>
    <input type='submit' value='Create' class='btn' />
  </form>
</section>