@use '../base/variables'
@use '../layouts/mixins'

.title
  font-size: 1.5rem
  margin: 0
  font-weight: 700
  margin-bottom: 2rem
  text-transform: capitalize

.title-pages
  font-size: 2rem
  color: variables.$text-color

.alert
  font-size: 1rem
  color: variables.$alert-color
  text-transform: none
  font-weight: 400
